.estado-cuenta-container {   
  margin-top: 80px; 
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  gap: 20px;
}

.empresa-info {
  font-size: 1.2rem; 
  flex: 1 1 200px; 
}

.fechas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  align-items: center;
}

.fechas label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 8px;
  flex: 1; 
}

.estado-cuenta-table-container {
  margin-top: 20px;
  padding: 10px;
  overflow-x: auto; 
}

.estado-cuenta-table {
  width: 100%;
  border-collapse: collapse;
}

.estado-cuenta-table th, .estado-cuenta-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.estado-cuenta-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.estado-cuenta-table td {
  text-align: center; 
}

.consultar-btn {
  background-color: #6ab7f9; 
  color: white;
  border: none; 
  border-radius: 5px; 
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.consultar-btn:hover {
  background-color: #4a9edc;
}

.no-data-message {
  text-align: center; 
  color: #555;
  font-size: 1rem; 
  padding: 20px; 
}

.pagination-container {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px;
}

.pagination {
  display: flex;
  align-items: center; 
}

.pagination button {
  background-color: #4caf50; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px; 
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.pagination button:hover {
  background-color: #45a049; 
}

.pagination button:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
}

.pagination span {
  margin: 0 10px;
  font-weight: bold; 
}

@media (max-width: 600px) {
  .estado-cuenta-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .fechas-container {
      flex-direction: column;
      gap: 10px; 
  }

  .empresa-info {
      margin-bottom: 10px; 
  }

  .estado-cuenta-table th, .estado-cuenta-table td {
      font-size: 0.9rem;
  }
}