<div class="estado-cuenta-container">
  <div class="empresa-info">
    <label>Empresa: </label>
    <span>{{ currentUser.empresa }}</span>
  </div>

  <div class="fechas-container">
    <div class="fechas">
      <label for="fechaInicio">Fecha Inicio:</label>
      <input class="fecha-input" type="date" id="fechaInicio" [(ngModel)]="fechaInicioSeleccionada"
        (change)="onFechaCambio()">
    </div>

    <div class="fechas">
      <label for="fechaFinal">Fecha Final:</label>
      <input class="fecha-input" type="date" id="fechaFinal" [(ngModel)]="fechaFinalSeleccionada"
        (change)="onFechaCambio()">
    </div>

    <button class="consultar-btn" (click)="consultarRegistros()">Consultar</button>
    <button class="consultar-btn" (click)="generarPDF()">Generar PDF</button>
  </div>
</div>

<div class="estado-cuenta-table-container">
  <table class="estado-cuenta-table">
    <thead>
      <tr>
        <th>Periodo</th>
        <th>Concepto</th>
        <th>Número de Recibo</th>
        <th>Total</th>
        <th>Fecha Emisión</th>
        <th>Valor Pagado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="registrosFiltrados.length === 0">
        <td colspan="6" class="no-data-message">No hay datos para mostrar</td>
      </tr>
      <tr
        *ngFor="let item of registrosFiltrados | paginate: { itemsPerPage: registrosPorPagina, currentPage: paginaActual }">
        <td>{{ item.PERIODO }}</td>
        <td>{{ item.NOMBRE }}</td>
        <td>{{ item.NUMERO_OBLIGACION }}</td>
        <td>{{ item.VALOR_TOTAL | currency }}</td>
        <td>{{ item.FECHA_VIGENCIA | date:'dd/MM/yyyy' }}</td>
        <td>{{ item.VALOR_PAGADO | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination-container">
  <pagination-controls (pageChange)="paginaActual = $event" [maxSize]="5" [autoHide]="true" previousLabel="Anterior"
    nextLabel="Siguiente">
  </pagination-controls>
</div>